<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>

<body>
	<footer th:fragment="footer"
		class="main-footer navbar-gray text-center">
		<div class="container ">
			<div class="row">
				<div class="col-lg-4 mb-3">
					<p class="lead">
						<img alt="" class="col-sm-6"
							th:src="@{/dist/img/logo.png}">
					</p>
				</div>
				<div class="col-lg-4 mb-3">
					<h5 class="text-uppercase text-warning font-weight-bold">RESUMO</h5>
					<h6 class="text-white">
						Aplicação destinada destinada ao time de tributação da empresa equiplano sistemas<br>
						Todo e qualquer integrante pode opinar e colaborar!
					</h6>
				</div>
				<div class="col-lg-4 mb-3">
					<h5 class="text-uppercase text-warning font-weight-bold">Contato</h5>
					<h6 class="text-white">
						<i class="fas fa-at text-warning"></i> massami.tsuneto@equiplano.com.br
					</h6>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
