<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutSite}">
<head>
<meta charset="UTF-8">
</head>

<body>

	<div layout:fragment="corpo">
		<div class="content-header content-header-texture">
			<div class="container">
				<div class="row mb-4">
					<div class="col-sm-6">
						<h1 class="m-0 text-gray-dark text-bold text-xl title title-first">Privacidade</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item "><a th:href="@{/}"> Home</a></li>
							<li class="breadcrumb-item active">Privacidade</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content content-texture">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="static-page-title">TERMOS DE USO E POLÍTICA DE
							PRIVACIDADE</h1>
						<p class="static-page-description"></p>
						<p>Levamos sua privacidade a sério, por isso escrevemos este
							documento onde demonstramos nosso compromisso em zelar pelas
							informações pessoais que você possa vir a nos fornecer quando
							visitar este site.</p>
						<p></p>
					</div>
					<div class="col-lg-12">
						<div class="card p-5">
							<h2
								style="box-sizing: border-box; margin: 0px; font-family: Lato, sans-serif; font-weight: 500; line-height: 1.2; color: #7a7a7a; font-size: 2rem; padding: 0px;">1
								- Como coletamos informações</h2>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Nosso
								principal objetivo ao coletar informações pessoais é levar até
								você o melhor e mais útil conteúdo e serviços.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Existem
								basicamente duas formas de coletarmos informações sobre nossos
								usuários: por meio das interações com o site e dos dados
								fornecidos voluntariamente. Na primeira situação obtemos e
								arquivamos estatísticas sobre as atividades de nossos usuários,
								como, por exemplo, quais são as páginas mais visitadas e o tempo
								gasto em cada seçõo. Na segunda, obtemos informações fornecidas
								mediante cadastramento, pesquisas, promoções e outros, sempre
								com seu consentimento.</p>
							<h2
								style="box-sizing: border-box; margin: 0px; font-family: Lato, sans-serif; font-weight: 500; line-height: 1.2; color: #7a7a7a; font-size: 2rem; padding: 0px;">2
								- Como usamos esses dados</h2>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Utilizamos
								as informações genéricas que obtemos para continuamente melhorar
								nosso site, veicular publicidade e oferecer alternativas de
								comércio. Além disso, usamos os dados (tanto genéricos quanto
								pessoais) para melhorar sua experiência, oferecendo conteúdo,
								propaganda e produtos que acreditamos ser relevantes para você.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Utilizamos
								seu e-mail para enviar produtos do site (como nosso boletim
								semanal) ou para divulgar promoções e concursos, desde que
								solicitado por você. Nosso objetivo é retribuir sua atenção
								encaminhando-lhe ofertas diferenciadas, sempre que possível com
								benefícios exclusivos.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Os
								dados que compartilhamos com terceiros são apenas genéricos e
								agregados, provenientes das interações dos usuários com os
								sites. Por exemplo, podemos dizer a um anunciante que um
								determinado número de pessoas visitou determinada seção ou se
								cadastrou em nossos sites. Porém, não divulgamos nenhuma
								informação que possa identificar essas pessoas, ou seja, nunca
								divulgamos seu e-mail, nome ou qualquer outro dado que possa
								identificá-lo.</p>
							<h2
								style="box-sizing: border-box; margin: 0px; font-family: Lato, sans-serif; font-weight: 500; line-height: 1.2; color: #7a7a7a; font-size: 2rem; padding: 0px;">3
								- Cookies</h2>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Cookies
								são pequenos arquivos alocados em seu computador. Ele permite
								que sua senha seja guardada, evitando que você tenha de
								redigitá-la diversas vezes. Além disso, podemos entender melhor
								como os usuários interagem com os sites, ajudando-nos a oferecer
								conteúdos, publicidade e produtos que correspondam a seus
								interesses e necessidades.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Nós
								também usamos cookies para evitar fraudes no site e levar até
								você informações precisas da seguinte forma:</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">-
								Quando você avalia uma receita, nós gravamos um cookie no seu
								computador para saber que você jã registrou sua opinião sobre
								aquela receita, ou já votou em uma certa enquete, evitando assim
								que pessoas mal intencionadas votem diversas vezes na mesma
								enquete ou alterem deliberadamente a avaliação geral de uma
								receita.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Você
								pode optar por não aceitar nossos cookies (mediante configuração
								de seu browser), mas algumas áreas de nosso site podem não
								funcionar corretamente.</p>
							<h2
								style="box-sizing: border-box; margin: 0px; font-family: Lato, sans-serif; font-weight: 500; line-height: 1.2; color: #7a7a7a; font-size: 2rem; padding: 0px;">4
								- Segurança</h2>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Para
								garantir que somente pessoas autorizadas tenham acesso às
								informações, garantir a coerência dos dados e assegurar o uso
								correto das informações, utilizamos as melhores tecnologias do
								mercado e uma equipe dedicada a gerenciar as informações que
								coletamos online, garantindo assim a segurança dos seus dados.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Os
								dados de navegação, cadastrais ou de qualquer natureza serão
								coletados e processados por uma plataforma de terceiros,
								contratada para esse fim, respeitando rigorosamente todas as
								regras de privacidade e boas práticas previstas, com o objetivo
								exclusivo de analisar o perfil e comportamento dos usuários, de
								forma a otimizar a experiência, os serviços ou produtos
								oferecidos à comunicação e às campanhas publicadas em geral;
								caso o usuário deseje desabilitar esse recurso, deverá acessar o
								seguinte link de opt-out:http://optout.t.tailtarget.com.</p>
							<h2
								style="box-sizing: border-box; margin: 0px; font-family: Lato, sans-serif; font-weight: 500; line-height: 1.2; color: #7a7a7a; font-size: 2rem; padding: 0px;">5
								- Direitos autorais e propriedade intelectual</h2>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Todo
								o conteúdo exibido em nosso site está protegido por direitos
								autorais ou outros direitos de propriedade intelectual. Tais
								direitos pertencem ao TudoGostoso ou a terceiros, que outorgaram
								ao TudoGostoso as devidas autorizações e licenças para exibir
								tais conteúdos livremente.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">A
								reprodução, a qualquer título, de conteúdos do site, no todo ou
								em parte, está expressamente proibida, salvo mediante prévia e
								expressa autorização por escrito pelo TudoGostoso, sob as penas
								da legislação civil e criminal aplicável (em especial a Lei nº
								9.610/1998).</p>
							<h2
								style="box-sizing: border-box; margin: 0px; font-family: Lato, sans-serif; font-weight: 500; line-height: 1.2; color: #7a7a7a; font-size: 2rem; padding: 0px;">6
								– Conteúdos enviados pelo usuário</h2>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Quando
								você submete suas receitas ao TudoGostoso, você nos concede
								automaticamente uma licença gratuita, exclusiva, não revogável,
								global e perpétua sobre todo o conteúdo submetido, autorizando
								ao TudoGostoso a livre divulgação, transmissão, cessão,
								licenciamento, veiculação, exibição, edição, reformulação,
								readaptação e comercialização, a qualquer título e para
								quaisquer fins, de tais conteúdos, com quaisquer terceiros e em
								quaisquer mídias e suportes, hoje ou no futuro existentes. Essa
								licença nos permite, ainda, modificar a receita e qualquer
								conteúdo que a acompanhe (inclusive texto, fotografias, etc),
								gravar a receita em vídeo e utilizá-la para a promoção do site
								ou de produtos de qualquer marca. Além disso, ao submeter suas
								receitas, você nos concede uma autorização de uso do seu nome de
								usuário, o que nos permite (mas não nos obriga a) exibi-lo e
								associá-lo ao conteúdo por você submetido.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">Para
								tanto, ao enviar receitas ou conteúdos de qualquer tipo ao
								TudoGostoso, o usuário expressamente declara, desde já, ser o
								único e exclusivo responsável por tais conteúdos e possuir todos
								os direitos a eles inerentes ou relacionados – incluindo, sem
								limitação, direitos autorais, direitos conexos, direitos de uso
								de imagem, de nome e dados biográficos –, podendo outorgá-los e
								licenciá-los livremente ao TudoGostoso, sem que haja qualquer
								violação de direitos de terceiros em tal outorga e em toda
								utilização posteriormente conduzida pelo TudoGostoso.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">
								<span style="color: #7a7a7a; font-family: Lato, sans-serif;"><span
									style="font-size: 15px;">A qualquer momento que queria
										deixar de fazer parte da comunidade TudoGostoso, suas marcas e
										seus aplicativos, você pode optar pela exclusão de seu perfil
										na área do usuário. Uma vez confirmada a exclusão de seu
										perfil,&nbsp; todos os dados que possam-o identificar serão
										apagados dos nossos diretórios.</span></span>
							</p>
							<h2
								style="box-sizing: border-box; margin: 0px; font-family: Lato, sans-serif; font-weight: 500; line-height: 1.2; color: #7a7a7a; font-size: 2rem; padding: 0px;">7
								- Aplicativo</h2>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">O
								aplicativo TudoGostoso contém a tecnologia de geolocalização de
								propriedade da IN LOCO TECNOLOGIA DA INFORMAÇÃO S.A. (a “In
								Loco”). Essa tecnologia permite a captura dos dados de
								localização e recorrência de uso do aplicativo, que são
								coletados e tratados, de forma anônima, pela In Loco, de maneira
								que você possa receber Notificações Push personalizadas no
								aplicativo TudoGostoso.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">
								Ao aceitar esta Política de Privacidade/estes Termos de Uso, o
								usuário declara que está ciente e que concorda com a coleta e
								tratamento de seus dados pela In Loco, tal como disposto
								na&nbsp;<a
									style="box-sizing: border-box; color: #ff6a28; text-decoration-line: none; background-color: transparent; touch-action: manipulation; cursor: pointer; width: 100%;"
									href="https://www.inlocoengage.com.br/politica-de-privacidade/"
									target="_blank" rel="noopener">Política de Privacidade da
									In Loco.”</a>
							</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">O
								aplicativo Tudo Gostoso contém a tecnologia de geolocalização de
								propriedade da IN LOCO TECNOLOGIA DA INFORMAÇÃO S.A. (a “In
								Loco”). Essa tecnologia permite a captura dos dados de
								localização do seu dispositivo móvel, que são coletados e
								tratados, de forma anônima, pela In Loco, de maneira que você
								possa receber anúncios publicitários mais efetivos no aplicativo
								Tudo Gostoso.</p>
							<p
								style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; line-height: 1.5; color: #7a7a7a; font-family: Lato, sans-serif; font-size: 15px;">
								Ao aceitar [esta Política de Privacidade / estes Termos de Uso],
								você declara estar ciente e concordar com a coleta e o
								processamento de seus dados pela In Loco, conforme previsto
								na&nbsp;<a
									style="box-sizing: border-box; color: #ff6a28; text-decoration-line: none; background-color: transparent; touch-action: manipulation; cursor: pointer; width: 100%;"
									href="https://www.inlocomedia.com/politica-de-privacidade/"
									target="_blank" rel="noopener">Política de Privacidade da
									In Loco.”</a>
							</p>
							<h2
								style="box-sizing: border-box; margin: 0px; font-family: Lato, sans-serif; font-weight: 500; line-height: 1.2; color: #7a7a7a; font-size: 2rem; padding: 0px;">8
								- Das Obrigações do Usuário</h2>
							<p>
								<span style="color: #7a7a7a; font-family: Lato, sans-serif;"><span
									style="font-size: 15px;">O usuário atesta ter lido e
										entendido os termos de uso do site www.tudogostoso.com.br
										(“TudoGostoso”), e se compromete a respeitá-los sob pena de
										desativação do perfil e de adoção das medidas legalmente
										cabíveis.</span></span>
							</p>
							<p>
								<span style="color: #7a7a7a; font-family: Lato, sans-serif;"><span
									style="font-size: 15px;">É vedado o ato de transmitir ou
										divulgar qualquer material ilegal, seja ele de natureza
										pornográfica, racista, de prática discriminatória que
										desrespeite a honra, intimidade ou vida privada de quaisquer
										indivíduos, bem como mensagens e/ou conteúdos contendo
										discurso de ódio, caráter político ou religioso, conteúdos
										negativos, pejorativos, preconceituosos ou ofensivos</span></span>
							</p>
							<p>
								<span style="color: #7a7a7a; font-family: Lato, sans-serif;"><span
									style="font-size: 15px;">É expressamente proibido
										transmitir ou incorporar dados, vírus, spam ou malware de
										qualquer tipo que comprometam ou prejudiquem o funcionamento
										normal do TudoGostoso ou quaisquer terceiros, danificando sua
										estrutura física ou virtual ou, ainda, os dados e conteúdos
										armazenados.</span></span>
							</p>
							<p>
								<span style="color: #7a7a7a; font-family: Lato, sans-serif;"><span
									style="font-size: 15px;">O conteúdo de cada mensagem é
										de única e exclusiva responsabilidade civil e penal do
										autor/remetente da mensagem/material.</span></span>
							</p>
							<p>
								<span style="color: #7a7a7a; font-family: Lato, sans-serif;"><span
									style="font-size: 15px;">O usuário concorda e acata as regras
										de conduta exigidas à participação e acesso ao TudoGostoso,
										permitindo que TudoGostoso e seus administradores, caso
										percebam comportamento que fira os padrões estabelecidos,
										assumam as medidas que julgarem necessárias para a manutenção
										dos padrões de relacionamento e conduta estipulados.</span></span>
							</p>
							<p>
								<span style="color: #7a7a7a; font-family: Lato, sans-serif;"><span
									style="font-size: 15px;">Estas regras podem ser
										alteradas por TudoGostoso a qualquer momento, sem
										obrigatoriedade de aviso prévio.</span></span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
