<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pagination (pagina)">

	<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
<div class="card-footer clearfix">
			<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
				
				<li  th:class="${pagina.primeira} ? disabled">
<!-- 					<span th:if="${pagina.primeira}">Primeira</span> -->
					<a class="page-link" th:if="${not pagina.primeira}" th:href="${pagina.urlParaPagina(0)}"><span>Primeira</span></a>	
				</li >
				
				<li th:class="${pagina.primeira} ? disabled">
					<a class="page-link" th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? all"><span>&laquo;</span></a>
				</li>
				
				<th:block th:each="p : ${pagina.linksNegativos()}" th:with="numeroPagina=${p - 1}">
					<li th:class="${paginaAtual == numeroPagina} ? active">
						<a class="page-link" th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
					</li>
				</th:block>
				
				<th:block th:each="p : ${pagina.linksPositivos()}" th:with="numeroPagina=${p - 1}">
					<li th:class="${paginaAtual == numeroPagina} ? active">
						<a class="page-link" th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
					</li>
				</th:block>
				
				<li th:class="${pagina.ultima} ? disabled">
					<a class="page-link" th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? all"><span>&raquo;</span></a>
				</li>
				
				<li th:class="${pagina.ultima} ? disabled">
<!-- 					<span th:if="${pagina.ultima}">Última</span> -->
					<a class="page-link" th:if="${not pagina.ultima}" th:href="${pagina.urlParaPagina(pagina.total-1)}">Última</a>	
				</li>
			</ul>
		</div>

	</div>
</th:block>

</html>