<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Trilho do Rock</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	th:href="@{/plugins/fontawesome-free/css/all.min.css}">
<link rel="stylesheet"
	th:href="@{https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css}">
<link rel="stylesheet"
	th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
<link
	th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}"
	rel="stylesheet">
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a th:href="@{/}"><b> Trilho do Rock</b></a>
		</div>
		<div class="card">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Faça login para iniciar sua sessão</p>

				<form th:action="@{/login}" method="POST">
					<div class="input-group mb-3">
						<input type="email" class="form-control" placeholder="Email"
							name="username">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" placeholder="Password"
							name="password">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">

						<div class="col-4 offset-8">
							<button type="submit" class="btn btn-primary btn-block">Logar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	<!-- Bootstrap 4 -->
	<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/dist/js/adminlte.min.js}"></script>

</body>
</html>
